target/
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
**/.eclipse
.DS_Store
refresh.sh
**/.factorypath
.project

# Ignore IntelliJ IDEA config
.idea/
*.iml

 ../.idea/compiler.xml
 ../.idea/misc.xml

